:root {
  /* Kolory */
  --color-bg: #323131;
  --color-black: #000;
  --color-text: orange;
  --color-primary: #ffffff;
  --color-primary-hover: #be3803;
  /* Topografia */
  --font-size-base: 1rem;
  --line-height-base: 1.5;
  /* Rozmiary nagłówków */
  --font-size-h1: 2.5rem;
  /* 40px */
  --font-size-h2: 2rem;
  /* 32px */
  --font-size-h3: 1.75rem;
  /* 28px */
  --font-size-h4: 1.5rem;
  /* 24px */
  --font-size-h5: 1.25rem;
  /* 20px */
  --font-size-h6: 1rem;
  /* 16px */

  /* Opcjonalnie: odstępy między nagłówkami */
  --heading-margin-top: 1.5rem;
  --heading-margin-bottom: 0.75rem;
  /*16px*/
  --font-size-lg: 1.25rem;
  /*przerwy*/
  --space-sm: 0.75rem;
  --space-md: 1.25rem;
  --space-lg: 2rem;
  /* Zaokrągelnia */
  --radius-sm: 4px;
  --radius-md: 8px;
  /* Animacje */
  --transition-fast: 150ms;
}

/* SETUP */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.25rem;

  @media (min-width: 640px) {
    & {
      padding: 0 1.5rem;
    }
  }
}

.header {
  background: var(--color-black);
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

/* END SETUP */

.top-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-custom-care {
  display: flex;
  height: 100%;
}

.top-custom-care-text {
  font-size: var(--font-size-h5);

  @media (min-width: 640px) {
    & {
      font-size: var(--font-size-h6);
    }
  }
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
}

.text-top-menu {
  margin: 0;
  font-size: var(--font-size-h5);
}

.img-top-class {
  height: 50px;
}

.cash {
  border-right: 1px solid gray;
  padding-right: 10px;
  display: block;
  position: relative;
}

.cash-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cash-link:visited {
  color: white;
}

.cash-menu-hamburger {
  display: none;
  list-style-type: none;
}

.cash-menu-hamburger:hover {
  display: flex;
}

.cash-menu-hamburger-element {
  height: 50px;
  width: 100%;
  text-align: center;
}

.cash-menu-hamburger-element-a {
  display: block;
  list-style-type: none;
  text-decoration: none;
  background-color: var(--color-bg);
  color: white;
  height: 100%;
  line-height: 40px;
  text-align: center;
  border: 1px solid gray;
}

.cash:hover>.cash-menu-hamburger {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 1.5px;
}

.my-account {
  width: 60%;
  border-right: 1px solid gray;
  display: block;
  white-space: nowrap;
}

.my-account-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.my-account-link:visited {
  color: white;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  border-right: 1px solid gray;
}

.banner {
  display: none;
}

<<<<<<< HEAD=======>>>>>>>4261c4eab7153d9f0000e0a8f8d6e5a1fd8aff9e @media (min-width: 640px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-banner {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: grey;
  }

  .button3-banner {
    height: 75px;
    width: 150px;
    position: absolute;
    top: 65%;
    left: 20%;
    cursor: pointer;
    background-color: orange;
    border-bottom: 4px solid darkorange;
    border-right: 4px solid darkorange;
    box-shadow: 4px 5px 10px black;
  }

  <<<<<<< HEAD=======>>>>>>>4261c4eab7153d9f0000e0a8f8d6e5a1fd8aff9e .button3-text {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    white-space: none;
    font-size: var(--font-size-h5);
  }

  .buttons-banner {
    position: absolute;
    height: 80px;
    width: 35px;
    background-color: lightblue;
    opacity: 0.5;
    top: 50%;
    cursor: pointer;
  }

  .buttons-banner:hover {
    opacity: 0.75;
  }

  .button3-banner:hover {
    opacity: 0.75;
  }

  .button-left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-50%);
  }

  .button-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateY(-50%);
    right: 0;
  }

  .banner-dot-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding-top: 10px;
  }

  .banner-dot {
    width: 30px;
    height: 30px;
    background-color: pink;
    border-radius: 50%;
  }

  .banner-dot:hover {
    opacity: 0.75;
  }

  .banner-dot:active {
    background-color: red;
  }

  .top-custom-care {
    padding-left: 10px;
    white-space: nowrap;
    color: white;
  }

  .top-custom-care-text {
    font-size: var(--font-size-h6);
  }

  .top-info {
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
  }

  .top-menu {
    height: 35px;
    justify-content: flex-end;
    color: white;
  }

  .text-top-menu {
    font-size: var(--font-size-h6);
  }

  .img-top-class {
    height: 35px;
  }

  .img-top-class1 {
    height: 30px;
  }

  .my-account {
    width: auto;
    padding: 0 10px;
  }

  <<<<<<< HEAD .search {
    height: auto;
    border-right: 1px solid gray;
    margin-right: 15px;
  }

  .short-menu-div {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 900px;
    height: 350px;
    border: 1px solid black;
  }

  .short-menu {
    display: flex;
    height: 100%;
  }

  .img-div1 {
    flex-direction: column;
    flex: 1;
    width: 100%;
    background-color: grey;
  }

  .img-div1-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .img-div3-4 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;


  }

  .img-div2 {
    flex: 1;
    background-color: green;
    width: 100%;
  }

  .img-div3 {
    flex: 1;
    background: pink;
    width: 100%;
  }

  .img-div4 {
    flex: 1;
    background-color: yellow;
    width: 100%;
  }


  @media (min-width: 1024px) {
    .short-menu {
      max-width: 1100px;
    }
  }

}

@media (min-width: 1024px) {}
