:root {
    /*Kolory*/
    --color-bg: #323131;
    --color-text: orange;
    --color-primary: #ffffff;
    --color-primary-hover: #be3803;
    /*Topografia*/
    --font-size-base: 1rem;
    --line-height-base: 1.5;
    /* Rozmiary nagłówków */
    --font-size-h1: 2.5rem;
    /* 40px */
    --font-size-h2: 2rem;
    /* 32px */
    --font-size-h3: 1.75rem;
    /* 28px */
    --font-size-h4: 1.5rem;
    /* 24px */
    --font-size-h5: 1.25rem;
    /* 20px */
    --font-size-h6: 1rem;
    /* 16px */

    /* Opcjonalnie: odstępy między nagłówkami */
    --heading-margin-top: 1.5rem;
    --heading-margin-bottom: 0.75rem;
    /*16px*/
    --font-size-lg: 1.25rem;
    --line-height-base: 1.5;
    /*przerwy*/
    --space-sm: 0.75rem;
    --space-md: 1.25rem;
    --space-lg: 2rem;
    /*Zaokrągelnia*/
    --radius-sm: 4px;
    --radius-md: 8px;
    /*Animacje*/
    --transition-fast: 150ms;
}
html {
    scroll-behavior: smooth;
}
